
<h3>Pagina de Batman</h3>
<!--NO SE PORQUE NO JALA EL BACKSTRETCH-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="js/jquery.backstretch.min.js"></script>
<script type="text/javascript">
$.backstretch("http://blogdesuperheroes.es/wp-content/plugins/BdSGallery/BdSGaleria/42851.jpg");
</script>
<div>
<h1> I am Batman</h1>
</div>
