<<!DOCTYPE html>
<html>

<body class="bgSuperman">

<h5>Pagina Superman</h5>
<!--NO SE PORQUE NO JALA CON BACKSTRETCH
<script type="text/javascript">
	
$.backstretch("https://www.google.com.mx/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwjTuoWWje7LAhVkuYMKHXSRCDAQjRwIBw&url=http%3A%2F%2Fwww.dccomics.com%2Fcharacters%2Fsuperman&psig=AFQjCNHx88D7YzOyf-3CI0q2P0yJyD2Iqg&ust=1459622897961392");

</script>-->
<div>
	<h1>This looks like a job for Superman</h1>
</div>
</body>
</html>